@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
  background-color: #1f1f1f;
}

.main-css {
  color: #fff;
  min-height: 200vh;
  overflow-x: hidden;
}

.main-bg {
  background-color: #1f1f1f;
}
.main-heading {
  font-size: 2.4rem;
}
.custom-flex {
  display: flex;
}
